body{
    background-image: url("bg-intro-desktop.png");
    background-color: rgba(250, 0, 0, 0.6);;
    
}
.padding{
    padding-left:7%;
    padding-right: 7%;
    padding-bottom: 1%;
    padding-top:7%;
}
.box{
    background-color: hsl(249, 65%, 28%) ;
    min-height:5vh;
    text-align: center;
    color: aliceblue;
    padding-top: 1%;
}
.position2{
min-width:100%;
margin-top:4vh;
}
.button{
    background-color: #32CD32;
}
.card-footer{
    border-top:none;
    text-align:center;
}
.text{
position:relative;
top:10vh;
color: aliceblue;
}
.button:hover{
    background-color: rgb(15, 210, 34);
}
@media screen and (max-width:700px){
    #desktop{
        display: none;
    }
   
    
}

@media screen and (min-width:701px) and (max-width:4000px){
    #mobile{
        display: none;
    }
   
    
}
